n8n/workflows/gmail_triage.json
{
  "name": "Gmail Triage",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 2,
              "unit": "hours"
            }
          ]
        },
        "filters": {
          "q": "in:inbox is:unread"
        },
        "options": {
          "dataPropertyName": "messages"
        }
      },
      "id": "gmail-trigger",
      "name": "Gmail New Message",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2-credential",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/triage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "trigger",
              "value": "n8n_gmail"
            },
            {
              "name": "message_count",
              "value": "={{ $input.all().length }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "post-to-email-triage",
      "name": "POST to Email Triage Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-triage-result",
      "name": "Triage OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "✅ Email triage complete: {{ $('POST to Email Triage Agent').item.json.summary || 'Done' }}",
        "additionalFields": {}
      },
      "id": "notify-telegram",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [960, 240],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credential",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Gmail New Message": {
      "main": [
        [
          {
            "node": "POST to Email Triage Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Email Triage Agent": {
      "main": [
        [
          {
            "node": "Triage OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Triage OK?": {
      "main": [
        [
          {
            "node": "Notify Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "shreyas-automation"
  },
  "id": "gmail-triage",
  "tags": ["automation", "email", "triage"]
}
