n8n/workflows/resume_trigger.json
{
  "name": "Resume Trigger from Job Tracker",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 30,
              "unit": "minutes"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID_JOBS }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Job Tracker",
          "mode": "name"
        },
        "options": {}
      },
      "id": "google-sheets-trigger",
      "name": "Google Sheet New Row",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 4,
      "position": [240, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credential",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "score-filter",
              "leftValue": "={{ $json.Score || $json.score || $json.claude_score }}",
              "rightValue": 8,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-high-score",
      "name": "Score >= 8?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/resume/tailor",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "job_id",
              "value": "={{ $json.ID || $json.id || $json.job_id }}"
            },
            {
              "name": "trigger",
              "value": "google_sheets"
            },
            {
              "name": "score",
              "value": "={{ $json.Score || $json.score }}"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "trigger-resume-agent",
      "name": "POST to Resume Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "📄 Resume tailoring triggered for: {{ $('Google Sheet New Row').item.json.Company || 'Unknown' }} - {{ $('Google Sheet New Row').item.json.Title || '' }} (score: {{ $('Google Sheet New Row').item.json.Score }})",
        "additionalFields": {}
      },
      "id": "notify-tailoring",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [960, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credential",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Google Sheet New Row": {
      "main": [
        [
          {
            "node": "Score >= 8?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score >= 8?": {
      "main": [
        [
          {
            "node": "POST to Resume Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Resume Agent": {
      "main": [
        [
          {
            "node": "Notify Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "shreyas-automation"
  },
  "id": "resume-trigger",
  "tags": ["automation", "resume", "sheets"]
}
